.Main {
  height: 100%;
  margin-bottom: 0;
}
.chatBlock {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .chatBlock{
    min-height: 100%;
  }
}
.chatBlock hr {
  width: 100%;
  color: black;
  size: 5px;
}
