.messagesList::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.messagesList::-webkit-scrollbar-track {
  margin: 20px 0px;
  background: white; /* color of the tracking area */
  border-radius: 30px;
}
.messagesList::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 30px;
}
.messagesList {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  max-height: 501px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 30px;
}
.message {
  display: flex;
  align-items: center;
}

.messagesList p {
  cursor: pointer;
  max-width: 25vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 10px;
  border-radius: 30px;
  max-width: 20vw;
  background: white;
  margin: 10px 20px;
}
.messagesList .myMessage p {
  margin-right: auto;
}
.messagesList .myMessage span {
  color: red;
}
.messagesList .opponentMessage span {
  color: blue;
}
.messagesList .opponentMessage p {
  margin-left: auto;
}
.message p {
  position: relative;
  transition: 0.2s ease-in-out;
}
.message p.selectedMessage {
  transition: 0.2s ease-in-out;
  margin-left: 50px;
  box-shadow: 1px 2px 15px rgb(138, 137, 137);
}
.errorMessageIcon {
  color: rgba(255, 0, 0, 0.342);
  margin-left: 10px;
}
.errorMessageIcon[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 110%;
  white-space: nowrap;
  height: 20px;
  background-color: rgba(255, 0, 0, 0.856);
  border: solid 1px #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  color: #ffffff;
}
