* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainScreen {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/LoginRoom/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 2vh;
}
.container {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container > div {
  height: 700px;
}
li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
.workspace {
  width: 80%;
}
