* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  outline: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.mainScreen {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/LoginRoom/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 2vh;
}
.container {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
.container > div {
  height: 700px;
}
li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
.workspace {
  width: 80%;
  background: #f2f3fa;
  padding: 30px;
  padding-top: 15px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 480px) {
  .workspace {
    width: 100%;
    padding: 15px 0px;
  }
}