header {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 30px;
}

.UserBlock span {
  padding-left: 10px;
}
.LogoBlock {
  text-transform: uppercase;
  font-weight: bold;
}
.menuItem {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  margin: 0px 20px;
  transition: 0.2s ease-in-out;
}
.menuItem:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-5px);
  border-bottom: 2px solid white;
}
.menu {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
