.navbar {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.menuItemStyle {
  transition: 0.2s ease-in-out;
  font-weight: normal;
  cursor: pointer;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin: 20px;
  margin-left: 0;
}
.menuItemStyle:hover {
  transition: 0.2s ease-in-out;
  font-weight: bold;
}
