.loginScreen {
  margin: 0;
  padding: 0;
}
.loginScreen * {
  color: white;
  padding: 0;
  margin: 0;
}

.loginScreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.loginScreen::before {
  content: "";
  position: fixed; /* Фиксируем на одном месте */
  left: 0;
  right: 0; /* Вся ширин */
  top: 0;
  bottom: 0; /* Вся высота */
  z-index: -1; /* Фон ниже текста */
  /* Параметры фона */
  background: url(../../assets//LoginRoom/10.jpg) center / cover no-repeat;
}

.loginroomBlock {
  width: 1245px;
  height: 100%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 45px 25px;
  overflow: hidden;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .loginroomBlock{
  width: auto;
  }
}
.positionForm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}
.titleAndLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
.titleAndLogo h2 {
  font-family: "Roboto" sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}
.titleAndLogo img {
  max-width: 150px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
.messageFromDB {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: #f43e3e;
  font-size: 20px;
  font-weight: 200;
}
.fieldBlock {
  position: relative;
  opacity: 0.7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
.fieldBlock svg {
  margin-right: 30px;
}
.fieldBlock input {
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
  color: white;
  font-weight: 200;
  min-width: 85%;
  border: none;
  background: none;
  font-size: 25px;
}
.fieldBlock input::placeholder {
  color: white;
}
.fieldBlock:hover {
  transition: 0.2s ease-in-out;
  opacity: 1;
}
.fieldBlock:focus-within {
  transition: 0.2s ease-in-out;
  opacity: 1;
}
.loginBtn {
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  min-width: 150px;
  font-size: 25px;
  background: #532e4f;
  margin-top: 50px;
  padding: 8px 15px;
}
.loginBtn button:disabled,
button[disabled] {
  opacity: 0.5;
}
.loginBtn button:enabled,
button[enabled] {
  opacity: 1;
}
.error {
  position: absolute;
  top: 0;
  left: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  max-width: 251px;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background: #f43e3e;
  font-size: 20px;
  font-weight: 200;
}
.createNewRoom {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 15px;
  background: #020202;
  padding: 7px 18px;
}
.createNewRoom:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 1px 2px 15px black;
}
